
  <table class="table table-dark"> 
    <tr> 
      <th> nom</th>
      <th> prénom</th>
      <th> email</th>
      <th> tel</th>
    </tr>
     <tr *ngFor='let m of allAdmin' >
      <td scope="col"> {{m._id}} </td>
       <td scope="col"> {{m.firstName}} </td>
       <td scope="col"> {{m.lastName}} </td>
       <td scope="col"> {{m.email}} </td>
       <td scope="col"> {{m.tel}} </td>
      <td>  
         <button  class="btn  btn-success" (click)='edit(m._id)'> edit </button> </td>
        <td> <button  class="btn btn-info"  (click)='display(m._id)'> display </button> </td>
      <td> <button class="btn btn-danger"  (click)='delete(m._id)'> supp </button></td> 
   </tr>
     </table>